.e-location-container,
.e-time-zone-container,
.e-description-row{
  display: none;
}

.e-recurrenceeditor .e-editor {
  display: none;
}
.e-schedule-dialog .e-dlg-header-content .e-dlg-header .e-title-text {
  font-size: 20px;
  color: #f52887;
}
