<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center"> 
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header><br/><br/>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSend()"
        class="forgot-password-form">
            <div class="form-group width-50" >
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" />
                  <!-- [class.is-invalid]="email.touched && email.invalid" /> -->

                <!-- <p class="text-danger" *ngIf="email.touched && email.errors?.required">
                    Email is required.
                </p>
                <p class="text-danger" *ngIf="email.touched && email.errors?.pattern">
                Please provide valid email.
                </p> -->
            </div><br/>
            <div class="form-group" style="padding-left: 180px;">
                <button class="btn btn-primary"> Send </button>
            </div>
        </form>
        <a href="" style="float:right;padding-top: 40px;color:black;text-decoration: underline;">Back</a>
    </mat-card>
</div>