 .width-50{width: 100%;}
.ml-4{margin-left: 6%;}
.ml-6{margin-left: 12%;}

.box{
    height: 400px;
    width: 300px;
    position: relative;
	top: 40px;
	opacity: 1;
	padding: 30px;
	width: 100%;
	background: #fff;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 550px;
    margin: 0 auto; 
	box-sizing: border-box;

	
}

.main-wrapper .forgot-password-form{
	min-width: 100%;
	max-width: 300px;
	width: 100%;
}

.main-wrapper .example-full-width,
.main-wrapper .btn-block {
	width: 100%;
}

.main-wrapper mat-card-header {
	text-align: center;
	width: 100%;
	display: block;
	font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
	font-size: 30px;
	margin: 0;
}

.main-wrapper .mat-card {
	padding: 45px 70px 55px;
}

.main-wrapper .mat-stroked-button {
	border: 1px solid currentColor;
	line-height: 54px;
	background: #FFF7FA;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
	padding: 0.8375em 0;
}


mat-form-field {
     width: 700px;
     width: 90%;
    box-sizing: border-box;
} 

 mat-icon {
    float: right;
    opacity: 0.5;
    margin-top: -20px;
}
 
