<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center"> 
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Change Password</mat-card-title>
        </mat-card-header><br/><br/>     
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSend()">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Old Password</mat-label>
                    <mat-icon matSuffix>lock_open</mat-icon>
                    <input matInput type="password" placeholder="Enter Old password" formControlName="oldPassword" />
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <mat-icon matSuffix>lock_open</mat-icon>
                    <input matInput type="password" placeholder="Enter New password" formControlName="newPassword" />
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <mat-icon matSuffix>lock_open</mat-icon>
                    <input matInput type="password" placeholder="conform password" formControlName="confirmNewpassword" />
                </mat-form-field>
            </div>
            <mat-card-actions appearance="outline" >
                <button mat-raised-button color="primary" >Submit
                </button>
                <button mat-raised-button id="cancel-btn">Cancel</button>      
            </mat-card-actions>
        </form>
    </mat-card>
</div>