<div class="example-table-container" >
 
    <table mat-table [dataSource]="dataSource1" class="example-table" matSort matSortActive="patientId" matSortDisableClear>
        <!-- patient Id Column -->
        <ng-container matColumnDef="appointmentId">
            <th mat-header-cell [hidden]="true" *matHeaderCellDef mat-sort-header>Appointment ID</th>
            <td mat-cell [hidden]="true" *matCellDef="let row">{{row.appointmentId}}</td>
        </ng-container>
 
        <!-- patient_name Column -->
        <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Email</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>
 
        <!-- subject Column -->
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
            <td mat-cell *matCellDef="let row">{{row.appointmentTitle}}</td>
        </ng-container>
 
        <!-- appointment date Column -->
        <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Date</th>
            <td mat-cell *matCellDef="let row">{{row.appointmentDate}}</td>
        </ng-container>
 
        <!-- Action column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row" class="action-link">
              <button mat-raised-button color="primary" style="line-height: 30px;" (click)="approve(row.appointmentId)">Approve</button>
              &nbsp;&nbsp;
              <button mat-raised-button color="warn" (click)="decline(row.appointmentId)" style="line-height: 30px;">Decline</button></td>
        </ng-container>
 
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    <!-- <mat-paginator #paginator [length]="paginatedObj.totalItems" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]"></mat-paginator> -->
 
</div>