
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.width-50{width: 15%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 31%;}
.width-25{width: 25%;}





/* .example-action-buttons {
    padding-bottom: 40px;
  
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  
  
}

.btn-block{
  width:20%;
  margin-left: 450px;
  margin-top: 20px;
}

.alert {
  padding: 20px;
  background-color:#4CAF50;
  color: white;
  width: 300px;
  height: 25px;
  float: right;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
} */